/* swiper */
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper p {
    font-size: 1.2vw;
    width: 70%;
    line-height: 1.8vw;
  }
  
  .swiper-slide {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  
  .swiper-slide img {
    margin: 1vw 0;
    display: block;
    height: 66px;
    object-fit: cover;
  }
  
  .swiper-slide {
    width: 30%;
  }
  
  /* swiper end */